



*{margin: 0;padding: 0;box-sizing: border-box;}

.head{height: 600px;width:100%; background-color: #290000;}

.color{height: 5px;background-color:#76c38f; }

                /* manu-bar */
.navbar{height:80px;}
.navbar ul { margin-left:80px; }
.main-nav{float:right; margin-top:1.5rem; width: 100%}
.main-nav li{display:inline-block; margin-left:3rem; color:#fff;}
.main-nav li:first-child{margin-left:0;}
.main-nav li a:link,
.main-nav li a:visited{ color:#fff; text-decoration: none; }
                      
    /* ======slider=========== */
.text-area{position: absolute;top:30%;left:20%;width:32%; color: #fff}
.cercil-area{height: 380px;width: 380px;border-radius:50%;border: 15px solid #6b6b6b;position: absolute;top: 25%;left: 55%;background: url('img/photo1.jfif') no-repeat;background-size:cover;background-position:center; }
.second{height: 970px;background-color:#660000;width: 100%; }
.photo-item{margin: 20px 0 0 75px}
.photo-item .box-hero{margin-left: 10px;}
.photo:hover{color: #76c38f}
.box-hero{height: 300px;width: 230px;text-align: center;border:2px solid #8c8484;display:inline-block;color:#fff;}
.photo{height:120px;width: 120px;background-color:#000;margin: 20px 50px 20px 50px}

.dract{height: 2px;width:960px;background-color:#303030; margin: 80px 50px 0 90px}
.work{color: #fff;width: 260px;height:50px;  text-align:center;position:relative;left: 37%;top:-3%;border-radius:5px;background-color:#303030}


.product{display:flex;margin-top: 20px;}
.view1{text-align: left;position: relative;top:20px;left:100px}
.view{text-align: left;position: relative;top:20px;left:100px}
.l-box{height:190px;width:290px;margin-right:20px;background-color:#353535;border:3px solid #d8d8d8;}
.c-div{height: 20px;width:auto;background-color: #000;position:relative;top:89%;color:#fff;text-align:center;}


.foot{height:500px;width:100%;background-color:#282828;position: relative;}
.link1{height: 500px;color:#fff;width: 250px; text-align: left;position:absolute;top:10px;left:100px}
.link2{height: 500px;color:#fff;width: 250px; text-align: center;position:absolute;left:360px}
.link3{height: 500px;color:#fff;width: 215px; text-align: left;position:absolute;top:10px;left:660px}
.link4{height: 500px;color:#fff;width: 250px; text-align: left;position:absolute;top:10px;left: 910px}
              /* contract area end */
              /* copy right area */

.input{background:#2c2c2c;margin-top: 10px;}
.copy{height: 60px;width:100%;background: #1a1a1a; position: absolute;top:350px;right: 0px; overflow:hidden}
.Template1{display:block; margin: 13px 100px;color: #fff}
.Template{float: right; margin: -30px 100px;color:#fff;}
.input{border:1px solid #222222;border-radius:5px;background: #222222;height:6%}
.input1{border:1px solid #222222;border-radius:5px;background: #222222;height:10%;margin-top: 10px;color:#fff}
.link4 .read{background-color: #76c38f;margin-top: 10px;}




